---
const time = {
  start: 2017,
  end: new Date().getFullYear(),
}
---

<footer class="py-16 lg:py-20 text-xs sm:text-sm md:text-base lg:text-lg bg-black text-white">
  <div class="block-layout">
    &copy; {time.start} - {time.end} · Built with{' '}
    <a class="underline" href="https://astro.build/" target="_blank">Astro</a>
    {' '}and{' '}
    <a class="underline" href="https://tailwindcss.com" target="_blank">Tailwind CSS</a>.
  </div>
</footer>
