---
const time = {
    start: 2017,
    end: new Date().getFullYear(),
}
---

<footer class="absolute px-8 left-0 bottom-3 w-full text-xs sm:text-sm">
    &copy; {time.start} - {time.end} · Built with{' '}
    <a href="https://astro.build/" target="_blank">Astro</a>
    {' '}and{' '}
    <a href="https://tailwindcss.com" target="_blank">Tailwind CSS</a>.
</footer>
